body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

#choropleth_map {
  width: 800px; /* Set a fixed width */
  height: 600px; /* Set a fixed height */
  position: relative; /* Ensure the map respects the top, bottom, left, and right properties */
}
